name: Deploy Infra

on:
  workflow_dispatch:
    inputs:
      groupName: 
        description: "Resource Group Name"
        default: "rg"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/login@v2
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy
        run: |
          echo "Deploying in resource group '${{ github.event.inputs.groupName }}'"
          az group create --name ${{ github.event.inputs.groupName }} --location austriaeast
          az deployment group create \
            --resource-group ${{ github.event.inputs.groupName }} \
            --template-file infra/infra.bicep