name: Deploy Infra

on:
  workflow_dispatch:
    inputs:
      groupName: 
        description: "Resource Group Name"
        default: "rg"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/login@v2
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy
        run: |
          echo "Deploying in resource group '${{ github.event.inputs.groupName }}'"
          az group create --name ${{ github.event.inputs.groupName }} --location austriaeast
          az deployment group create \
            --resource-group ${{ github.event.inputs.groupName }} \
            --template-file infra/infra.bicep \
            --query "properties.outputs" \
            --output json > outputs.json
      - name: Test
        run: |
          echo "Printing Deployment Outputs"
          cat outputs.json

          echo "Importing nginx into ACR"
          az acr import --name alidorg6acr --source docker.io/library/nginx:latest --image nginx:latest
          appServiceName=$(jq ".appServiceName" ./outputs.json)
          echo appServiceName = $appServiceName
          # read output json file and reset the proper app service
          # implement the test  